
 * Place your custom styles here.
 */
*{ font-family: Helvetica; }
/* Remove the navbar's default margin-bottom and rounded borders */ 

body, html{
   height: 100%;
   margin: 0;
/*   overflow: hidden;*/
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-inverse {
  background-color: #150958; 
  border-color: #150958; 
}
/*.navbar-inverse .container{ 
  width: 100%;
  margin: 0 25px 0;
}*/

footer {
  margin-top: 30px;
  background-color: #f3d712 !important;
  color: #444 !important;
}

.jcarousel a{
  font-size: 13px;
  color: grey !important;
}

.logo{
  margin-bottom: 10px;
}

.navbar-nav .fa-bars{
  font-size: 1.5em !important;
}
.navbar-nav .fa-question-circle{
  font-size: 1.5em !important;
}
.navbar-nav .fa-plus-circle{
  font-size: 1.5em !important;
}
.navbar > .container .navbar-brand{ margin-left: 0; }

.navbar-text{
  text-decoration: none;
  color: #fff !important;  
  margin: 0px 15px;
  font-size: 30px;
  height: 50px;
  font-weight: 400;
}

.div-form{
  margin: auto;
  width: 65%;
}
/*Divides dropdown menu in a grid of 3 columns*/
/*.menu-icon-18 > ul {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  grid-row: 10px;
  line-height: 3;*/
}
.assinatura {
  /*width: 1100px;
  height:500px;*/
  margin-bottom: -100px;
}
/*Stylizes dropdown menu icons*/
.menu-icon-18 .dropdown-menu li > a{
  line-height: 2;
  color: #999;
  font-size: 14px;
}

.menu-icon-1 .dropdown-menu li > a{
  line-height: 2;
  color: #999;
  font-size: 14px;
}

.navbar-nav li .dropdown-menu {
border-radius:5px;
}
.navbar-text .prf{ color: #f3d712 !important; }

.navbar-inverse .navbar-nav>li>a { color: #fff; }

.nav>li { margin-left: 20px; }
.navbar-right>li { margin-left: 0px; }

.container .brasao{
  background: url(../screenshot.png) no-repeat;
  width: 200px;
  padding: 0 0 0 150px;
  align-items: center;
  margin: 200px 0 0 300px;
  height: 150px;
}

.container .brasao .text-prf{
  color: #1f1f60;
  font-size: 100px;
  font-weight: bolder;
  padding: 10px 0 0;
}
.navbar-right{
  position: relative;
    left: -15px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
.row.content {height:auto;} 
}

.inner-addon { position: relative; }

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.right-addon .glyphicon { right: 0px;}
.right-addon input { padding-right: 30px; }

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.dropdown-menu{
  left: -80px;
}
#blockFeed{
/*  margin: 150px auto 0;
  overflow: hidden;*/
}

.blockFeed{
  position: relative;
/*  overflow: hidden;*/
  float: left;
  font-size: 11px !important;
  color: dimgray !important;
  padding-left: 0px !important;
  padding: 0px !important;
}
.blockFeed img{
  width: 100px;
  height: 75px;
  margin: 0px;

}
.blockFeedRepeat{
  padding-right: 0px;
}
.contentResult{
  font-family: arial,sans-serif;
  border-bottom: 0.5px solid #eee;
  padding: 1em;
}
.contentResult h3{
  font-size: 16px;
  color: #1a0dab;
}
.contentResult p{
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #545454;
}
.link-color {
 font-size: 14px !important;
 color:green !important;
}
.linkResult b{
  color: gray;
}
#searchFullResult{
  width: 450px;
  padding: 10px 0 0 0;
  float: left;
}

.container .brasaoResult {
    background: url(../brasao.png) no-repeat;
    width: 45px;
    height: 55px;
    margin: 0 25px 0 0;
    float: left;  
}
.blockResult{
  clear: both;
}
.blockFeedRepeat a{
  color: #999 !important;
}
.blockRespostas{
  float: left;
  padding: 20px;
  text-align: justify;  
  font-size: 14px;
}