<!DOCTYPE html>
<html lang="pt-br" ng-app="autoApp">
<head>
  <title>Auto inscrição</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="src/css/bootstrap.min.css">
  <script src="src/lib/jquery-3.2.1.min.js"></script>
  <script src="src/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="src/css/styles.css" />
  <script src="src/lib/angular/angular.min.js"></script>
  <!-- codes angular funcionalidades -->
  <script src="src/js/autoinscricao/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

</head>
<body ng-controller="autoInsc">

   <div id="container" >
     <div>
       <div class="brasao">
          <h1 class="text-prf">PRF</h1>
       </div>
        <div id="searchFull">
         <div class="inner-addon right-addon">
            <i class="glyphicon fa fa-keyboard-o"></i>
            <input type="text" class="form-control" placeholder="Search">
         </div>
        </div>
         <div id="blockFeed">
          <div class="blockFeed conhecimento">
            <div id="conhecimento">
              <div ng-repeat="news in feedNoticiaConhecimento | filter:{field_position: '!0'} |  orderBy:'field_position' | limitTo:1 ">
                <a href="{{ news.view_node }}">
                  <span class="quickedit-field">{{ news.title }}</span>
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item quickedit-field">
                    <p>{{ news.field_position }}</p>
                    <p>{{ news.field_region }}</p>
                    <p></p>
                    <p>{{ news.field_setor }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="blockFeed ascom">
            <div id="ascom">
              <div class="blockFeed" ng-repeat="news in feedNoticiaAscom | filter:{field_position: '!0'} | orderBy:'field_position'| unique:'field_position' | limitTo:3">
                <a href="{{ news.view_node }}">
                  <span class="quickedit-field">{{ news.title }}</span>
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item quickedit-field">
                    <p>{{ news.field_position }}</p>
                    <p>{{ news.field_region }}<p>
                    <p>{{ news.field_setor }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="blockFeed nucom">
            <div id="nucom">
              <div class="blockFeed" ng-repeat="news in feedNoticiaNucom | filter:{field_position: '!0'} | orderBy:'field_position'| limitTo:4">
                <a href="{{ news.view_node }}">
                  <span class="quickedit-field">{{ news.title }}</span>
                  <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item quickedit-field">
                    <p>{{ news.field_position }}</p>
                    <p>{{ news.field_region }}</p>
                    <p>{{ news.field_setor }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="src/js/autoinscricao/autoInsc.js"></script>
</body>
</html>